# ignore ALL .log files
*.log
.env.example
# ignore ALL files in ANY directory named temp
temp/


# ignore venv folder
venv/

# ignore document_chatbot folder
document_chatbot/


# ignore chatbot-knowledge-storage folder
chatbot-knowledge-storage/